<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="world.keyi.arsystem.mapper.RegistrationMapper">

    <resultMap id="BaseResultMap" type="world.keyi.arsystem.entity.Registration">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="number" jdbcType="VARCHAR" property="number" />
        <result column="time" jdbcType="DATE" property="time" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
        <result column="patients_id" jdbcType="INTEGER" property="patientsId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="evaluate" jdbcType="VARCHAR" property="evaluate" />
        <result column="accept" jdbcType="INTEGER" property="accept" />
        <result column="is_cases" jdbcType="TINYINT" property="isCases" />
        <result column="amount_payable" jdbcType="DECIMAL" property="amountPayable" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="level" jdbcType="VARCHAR" property="level" />
        <result column="is_invoice" jdbcType="TINYINT" property="isInvoice" />
        <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
        <result column="invoice_number" jdbcType="VARCHAR" property="invoiceNumber" />
        <result column="invoice_date" jdbcType="DATE" property="invoiceDate" />
    </resultMap>

    <select id="queryList" resultType="world.keyi.arsystem.entity.Registration">
        SELECT r.number,p.username,p.ssex,p.birthday,r.`amount_payable` as amountPayable,
               r.`type`,r.`level`,r.`create_time` as createTime,d.nick_name as doctorName,r.`status`
        FROM t_registration AS r
                 JOIN t_user p ON r.`patients_id`=p.`user_id`
                 JOIN t_user d ON r.`doctor_id`=d.`user_id`
        <where>
            p.`role_id`=2 AND d.`role_id`=1
            <if test="entity.number != null and entity.number != ''">
                and r.number like concat('%',#{entity.number,jdbcType=VARCHAR},'%')
            </if>
            <if test="entity.patientName != null and entity.patientName != ''">
                and d.nick_name like concat('%',#{entity.doctorName,jdbcType=VARCHAR},'%')
            </if>
        </where>
        ORDER BY tr.status ASC, tr.create_time DESC
    </select>
    <select id="queryListByDoctor" resultType="world.keyi.arsystem.entity.Registration">
        SELECT r.*,p.nick_name as patientName,p.ssex,p.birthday,d.nick_name as doctorName
        FROM t_registration AS r
        JOIN t_user p ON r.`patients_id`=p.`user_id`
        JOIN t_user d ON r.`doctor_id`=d.`user_id`
        <where>
            p.`role_id`=2 AND d.`role_id`=1
            <if test="entity.number != null and entity.number != ''">
                and r.number like concat('%',#{entity.number,jdbcType=VARCHAR},'%')
            </if>
            <if test="entity.patientName != null and entity.patientName != ''">
                and p.nick_name like concat('%',#{entity.patientName,jdbcType=VARCHAR},'%')
            </if>
            <if test="userId != null">
                and d.`user_id` = #{userId,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY r.status ASC, r.create_time DESC
    </select>

    <select id="queryListByPatient" resultType="world.keyi.arsystem.entity.Registration">
        SELECT r.*,p.birthday,d.nick_name as doctorName
        FROM t_registration AS r
        JOIN t_user p ON r.`patients_id`=p.`user_id`
        JOIN t_user d ON r.`doctor_id`=d.`user_id`
        <where>
            p.`role_id`=2 AND d.`role_id`=1
            <if test="entity.number != null and entity.number != ''">
                and r.number like concat('%',#{entity.number,jdbcType=VARCHAR},'%')
            </if>
            <if test="userId != null">
                and p.`user_id` = #{userId,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY r.status ASC, r.create_time DESC
    </select>

</mapper>